<h5 class="card-header">Featured Landmark</h5>
<div>
    <div class="row no-gutters">
        <div class="col-md-6 p-3">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text"><small class="text-muted">Coordinates: {{coordinates}}</small></p>
            <p class="card-text">{{description}}</p>
            <a href="#" class="btn btn-primary">{{buttonText}}</a>
        </div>
        <div class="col-md-6 p-0">
            <img src="{{imgPath}}" class="img-fluid float-right img-landmark" alt="a picture of the bradley mine from the inside looking out">
        </div>
    </div>
</div>